@font-face{
    font-family:"minecraft";
    src: url(images/minecraft_font.ttf)
}

h1{
    font-family: "minecraft";
}


.logo {
    background-image: url(file:///C:/Users/arvip/Documents/GitHub/Ejercicios-Programaci-n/Repositorio%20personal%20LMSGI/HTML/Minecraft/images/banner.png);
    width: 474px;
    height: 150px;
	margin: auto;
}

.encabezado{
    background-image: url(file:///C:/Users/arvip/Documents/GitHub/Ejercicios-Programaci-n/Repositorio%20personal%20LMSGI/HTML/Minecraft/images/banner1.png);
    height: auto;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
	padding-left: 20px;

}

.icono{
  margin-left: 1350px;
  height: 0px;
}

nav ul {
    padding: 0;
    margin: 0;
	background-color: rgb(51, 51, 51);
	width: 326px;
	padding: 10px;
    margin-right: 0px;
    margin-bottom: 50px;
	float: left;
	border-top-width: 2px;
    border-top-style: solid;
	border-top-color: rgb(0, 0, 0);
	box-shadow: 10px 10px 0 #000;
	height: 700px;
	width: 400px;
	margin-top: 30px;

	

}

.letramenu{
	color: #FF0000;
	font-family:"medieval";
	font-size: 40px;
}
.block-small{
	max-height: 32px !important;
	max-width: 32px !important;
	vertical-align: middle;
}

.parrafo {
	margin-left: 600px;
	background-color: white;
	width: 715px;
	height: 1430px;
	margin-top: 50px;
	font-family:"minecraft";
}

.texto{
	border-radius: 30px 30px 30px 30px;
	-moz-border-radius: 30px 30px 30px 30px;
	-webkit-border-radius: 30px 30px 30px 30px;
	border: 2px solid #000000;
}

.marcador{
	width: 715px;
	height: 1430px;
	margin-top: 500px;
}

.texto{
	background-color: white;
	width: 1000px;
	height: 1000px;
	margin-left: 450px;
	margin-top: 26px;
}

.imagenPresentacion{
	margin-left: 400px;
	margin-top: 50px;
	border-color: red;
	border: 5px solid red;
}

#letraTitulo{
	color: black;
	font-family:"Minecraft";
	font-size: 40px;
}

.letratexto{
	color: black;
	font-family:"Minecraft";
}

.contador{
	margin-left: 120px;
}

.cierre{
    background-image: url(file:///C:/Users/arvip/Documents/GitHub/Ejercicios-Programaci-n/Repositorio%20personal%20LMSGI/HTML/Minecraft/images/banner2.png);
    height: auto;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
	padding-left: 20px;
	margin-top: 30px;

}

.imageMod{
	width: 30%;
	height: 30%;
	margin-left: 300px;
}




